/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .search-box, .top-cart {
    margin-top: 25px;
  }
  .menu-container ul li:hover ul.megamenu-2 {
    left: 220px;
  }
  .cdown {
    width: 40px;
    height:40px;
  }
  .tab-menu {
    width: 55%;
  }
  .product-title h3 {
    padding-left: 0px;
  }
  .blog-meta span {
    font-size: 10px;
  }
  .blog-content p {
    font-size: 12px;
    margin-top: 0;
  }
  .order-content span {
    font-size: 9px;
  }
  .order-content h5 {
    font-size: 10px;
  }
  .contuct-info {
    margin-left: 45px;
  }
  /*-------------------------------- 
  		home2 style here
  -------------------------------*/
  .top-cart.home2-top-cart{margin-top:0px;}
  /*---------- protfolio style ------------*/
  .single-protfolio{
  	width:25%;
  }
  .protfolio-icon {
    top: 40%;
  }
  .main-wrapper {
    margin: auto;
    width: 970px!important;
  }  
  .product-img{height: 320px;}
  .product-area , .banner-area{display: none;}    
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .main-wrapper {
      width: 750px!important;
  }
  .logo{
  	text-align:center;
  	margin-bottom:20px;
  }
  .cap-title h1 {
    font-size: 32px;
    line-height: 32px;
  }
  .cap-title p {
    margin-bottom: 12px;
  }
  .nivo-caption {
    top: 15%;
  }
  .newsletter-area.box-shadow.mt-35 {
    margin-bottom: 35px;
  }
  .tab-menu {
    width: 60%;
  }
  .order-content h5 {
    font-size: 10px;
  }
  .order-content span {
    font-size: 10px;
  }
  .footer-widget{
  	margin-bottom:20px;
  }
  h3.footer-title {
    font-size: 13px;
  }
  .footer-menu ul li {
    line-height: 28px;
    font-size: 10px;
  }
  .contuct-info {
    margin-left: 45px;
    margin-top: 0;
  }
  .footer-content p {
    font-size: 11px;
    line-height: 18px;
  }
  .footer-content ul li a {
    display: block;
    font-size: 14px;
    padding: 0px 8px;
  }
  .main-wrapper{width:992px}
  .tab-menu.home2-tab-menu {
    width: 53%;
  }
  .top-cart ul {
    width: 345px;
  }
  .menu-container {
    top: 86%;
    width: 92%;
  }
  .menu-container ul li ul.megamenu-2 {
    left: 350px;
    top: -10px;
    width: 420px;
  }
  .menu-container ul li:hover ul.megamenu-2 {
    left: 325px;
  }
  .home2-search-box.search-box {
    left: -120px;
    width: 485px;
  }
  /*---------- protfolio style ------------*/
  .single-protfolio{
  	width:33.33%;
  }
  .protfolio-icon {
    top: 40%;
  }
  .col3-single-protfolio.single-protfolio{width:50%}
  .input-src form {
    width: 75%;
  }
  .wishlist-heading h2{text-align:center}
  .categories-menu {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .home2-language-menu.language-menu ul li {
    margin-right: 5px;
  }
  #sidebar_left{display: none;}

  .product-img{height: 320px;}
  .product-area , .banner-area, .all-product-area .blog-area, .testimonils-area, .featured-area, .categories-area, .product-tags-area, .brand-active{display: none;} 
  .blog-area{overflow-x: scroll;}
}
 
/* small mobile :320px. */
@media (max-width: 767px) {
  .ptb-35, .mtb-45 {
      padding: 10px 0px;
  }
  .container {width:100%}
  .main-wrapper {
      width: 300px!important;
  }
  .language-menu, .account-menu,{
    text-align: center;
  }
  .account-menu ul li {
    margin-left: 17px;
  }
  .top-cart ul {
    width: 270px;
  }
  .cart-btn a {
    padding: 5px 24px;
  }
  .logo, .search-box, .single-banner, .newsletter-area, .single-order, .footer-widget{
  	margin-bottom:0px;
  }
  .header-middle-area .search-box, .header-middle-area .top-cart{
    margin-top: 0px;
  }
  .search-box form select#select {
    width: 120px;
  }
  .search-box form input {
    padding-left: 10px;
  }
  .nivo-directionNav a {
    font-size: 24px;
  }
  .categories-menu {
    margin-right: 0px;
  }
  .menu-container {
    width: 89%;
  }
  .contuct-info {
    margin-left: 55px;
    margin-top: 7px;
  }
  .product-title h3 {
    font-size: 11px;
    padding-left: 10px;
  }
  .cart{text-align:center;}
  .single-blog-content.blog-content > h3 {
    font-size: 20px;
  }
  .banner-area{display: none;}
  .blog-area{overflow-x: scroll;}
  /*------------------------------------
  			home2 style here 
  -------------------------------------*/
  .language-menu.home2-language-menu.dropdown.text-right,.home2-logo {
    text-align: center;
  }
  .home2-search-box.search-box {
    left: -12px;
    width: 400px;
  }
  .home2-language-menu.language-menu ul li {
    margin-bottom: 10px;
  }
  .home2-top-cart.top-cart {
    margin-bottom:10px;
  }
  .home2-search-box.search-box {
    left: -54px;
    width: 300px;
  }
  .footer-top-right {
    margin-bottom: 10px;
  }
  .account-menu-2.account-menu ul li {
    margin-right: 20px;
  }
  .all-product-area .blog-area, .testimonils-area, .featured-area, .single-banner, .categories-area, .product-tags-area, .brand-active{display: none;}
  /*-----------------------------
  		shop style here 
   ------------------------------*/
  .shop-tab-menu,.shop-pra {
    text-align: center;
    margin-bottom: 20px;
  }
  .shop-product-img.product-img {
    float: none;
    width: 100%;
  }
  .shop-product-content.product-content {
    float: none;
    width: 100%;
  }
  .shop-product-icon ul li {
    margin-right: 4px;
  }
  .review-img {
    width: 15%;
  }
  .review-area ul li .review-content,.review-area ul li.review-1 .review-content {
  	width: 75%;
  }
  .review-content p ,.review-content span {
    font-size: 13px;
  }
  .product-reviews h2 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  /*---------- protfolio style ------------*/
  .single-protfolio{
  	width:100%;
  }
  .protfolio-icon {
    top: 50%;
  }
  .col2-single-protfolio.single-protfolio{width:100%}
  .col3-single-protfolio.single-protfolio{width:100%}
  /*------------ 404 style here------------*/
  .arequently-title h1 {
    font-size: 30px;
  }
  .input-src form {
    width: 100%;
  }
  .contuct-detail{text-align:center;}
  .wishlist-heading h2{text-align:center}
  /* checkout style here */
  .form-row-first{width:100%}
  .form-row-last{width:100%}
  .single-blog-content.blog-content > h3 {
    line-height: 30px;
    margin-bottom: 20px;
  }
  .entry-counter{
    text-align: center;
    width: 100%;
    margin-bottom:15px;
  }
  .footer-content {
    text-align: center;
    width: 100%;
  }
  .account-title {
    text-align: left;
  }
  .copyright span {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
  }
  .symple-product h3 {
    font-size: 20px;
  }
  .page-not-found h1 {
    font-size: 100px;
      line-height: 50px;
  }    
  .page-not-found h2 {
    font-size: 20px;
  }    
  .ptb-140 {
    padding: 70px 0;
  }     
  .product-area{display: none !important;} 
  .banner-area{display: none !important;} 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {width:100%}
   .main-wrapper {
      width: 450px !important;
  }
   /*---------- protfolio style ------------*/
  .single-protfolio{
  	width:50%;
  }
  .protfolio-icon {
    top: 36%;
  }
  .product-area, .all-product-area .blog-area, .testimonils-area , .banner-area, .featured-area, .single-banner, .categories-area, .product-tags-area, .brand-active{display: none;}
  .blog-area{overflow-x: scroll;} 
}
