.product-description {
  width: 92%;
  padding: 2% 4%;
  line-height: 30px;
  font-family: tahoma;
  font-size: 14px;
}
.product-description table {
  border-collapse: collapse;
  font-size: 14px;
  font-family: Tahoma;
  margin: 10px auto;
}
.product-description table tr td {
  border: 1px solid #000;
  vertical-align: middle;
  font-weight: normal;
  text-align: center;
  padding: 5px 10px;
}
.product-description table tr:first-child td {
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}
.product-description table tr:first-child td strong {
  color: #fff;
}
.product-description fieldset {
  border: 1px solid #7d2a1d;
  margin: 20px 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.product-description fieldset legend {
  color: #fff;
  background-color: #7d2a1d;
  padding: 0px 10px;
  font-weight: bold;
}
.product-description ul {
  margin: 0px 0px 0px 40px;
  padding: 0px;
}
.product-description ul li {
  list-style-type: disc;
}
.product-description a {
  color: #3498db;
  font-weight: bold;
  text-decoration: underline; 
}
.product-description img {
  margin: 10px auto;
  padding: 1px;
  max-width: 100%;
  display: block;
  border-color: #ededed;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding: 5px;
}
.product-description .box-none img {
  border: none;
}
.product-description h1 {
  color: #9c3828;
  font-size: 22px;
  margin: 10px 0px;
}
.product-description h2, .product-description h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
  font-weight: 600;
}

.product-description h3{
  font-size: 18px;
}
.product-description strong {
  font-weight: bold;
}